<div class="overlay-inner">
  <div class="container" id="visualization-tool">
      <style type="text/css">
        .recline-slickgrid {
          height: 600px;
        }

        .changelog {
          display: none;
          border-bottom: 1px solid #ccc;
          margin-bottom: 10px;
        }
      </style>

      <div class="changelog">
        <h3>Changes</h3>
      </div>

      <div class="data-explorer"></div>
      <div style="clear: both;"></div>

    </div>
</div>
